main h1 {
  font-size: 2.25rem;
}
main p {
  margin-top: 0.25rem;
}
main .features {
  padding-top: 0.25rem;
  font-size: 1.25rem;
}
main .features span {
  font-weight: 600;
}
.colorWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.colorWrapper img {
  width: 5rem;
  height: 5rem;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
}
.activeColor {
  border: 1px solid blue;
}
.btnWrapper button {
  background-color: #ccc;
  margin-right: 0.5rem;
}
button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #000;
  outline: none;
  border: transparent;
  cursor: pointer;
  background-color: #ff9900;
  border-radius: 5px;
  font-size: 0.75rem;
}
main > div > button {
  margin-top: 0.7rem;
  font-size: 1rem;
}
.btnWrapper .active {
  background-color: #aaa;
}

@media (min-width: 768px) {
  main {
    display: flex;
    padding-top: calc(10dvh - 2rem);
  }
  main h1 {
    font-size: 2.5rem;
  }
  main p {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
  main .features {
    font-size: 1.5rem;
  }
  button {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .colorWrapper {
    margin-top: 0.5rem;
  }

  main > div > button {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}
